<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Propiedades Web</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />

    {% load static %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="{% static 'core/'%}img/favicon.ico" rel="icon">
    <!-- Coloca este código en tu archivo HTML antes de tu script de JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Libraries Stylesheet -->
    <link href="{% static 'core/'%}lib/animate/animate.min.css" rel="stylesheet">
    <link href="{% static 'core/'%}lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'core/css/Estilos.css'%}" rel="stylesheet">
    <script src="{% static 'core/js/main.js' %}" defer></script>

    <!--Dropzone-->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
</head>
<style>
    nav,
    .offcanvas {
      background-color: #000000;
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
    .navbar .navbar-toggler {
        position: absolute;
        left: 0;
      }

    @media (max-width: 1000px) {
      .navbar-nav > li:hover {
        background-color: #000000;
      }
    }
  </style>

<body id="body">

  <header>
    <div class="icon__menu">
        <i class="fas fa-bars" id="btn_open"></i>
    </div>
    <div class="col-lg-4">
        <a class="text-decoration-none" href="{% url 'home' %}"><img src="{% static 'core/img/logo_propiedades_web.png' %}" alt="Logo" style="max-width: 200px; max-height: 200px;"></a>
    </div>
</header>

<div class="menu__side" id="menu_side">

    <div class="name__page">
      <i class="fas fa-cog"></i>
        <h4>Menú</h4>
    </div>

    <div class="options__menu">	

        {% if user.is_authenticated %}

        <a href="{% url "publicacion" %}">
          <div class="option">
              <i class="fas fa-concierge-bell"></i>
              <h6>Publicaciones</h6>
          </div>
      </a>

        <a href="{% url "listar" %}">
            <div class="option">
                <i class="bi bi-house-door-fill"></i>
                <h6>Propiedades</h6>
            </div>
        </a>

        <a href="{% url "propietarios" %}">
            <div class="option">
                <i class="fas fa-house-user icon"></i>
                <h6>Propietarios</h6>
            </div>
        </a>

        <a href="{% url "cliente_list" %}">
            <div class="option">
                <i class="fas fa-user-friends"></i>
                <h6>Clientes</h6>
            </div>
        </a>

        <a href="{% url "agentes" %}">
            <div class="option">
                <i class="fas fa-user-tie"></i>
                <h6>Agentes</h6>
            </div>
        </a>

        <a href="{% url "op_venta" %}" >
            <div class="option">
                <i class="bi bi-coin"></i>
                <h6>Venta</h6>
            </div>
        </a>

        <a href="{% url "op_arriendo" %}" >
            <div class="option">
                <i class="fas fa-hand-holding-usd"></i>
                <h6>Arriendo</h6>
            </div>
        </a>

        <a href="#" onclick="confirmLogout()">
            <div class="option">
                <i class="fas fa-sign-out-alt"></i>
                <h6>Cerrar Sesión</h6>
            </div>
        </a>
        {% else %}
        <a href="{% url "iniciar_sesion" %}">
            <div class="option">
                <i class="fas fa-sign-in-alt"></i>
                <h6>Iniciar Sesión</h6>
            </div>
        </a>

        <a href="{% url "registro" %}">
            <div class="option">
                <i class="fas fa-user-plus"></i>
                <h6>Registrarse</h6>
            </div>
        </a>

        <a href="{% url "planes" %}">
            <div class="option">
                <i class="fas fa-star"></i>
                <h6>Planes</h6>
            </div>
        </a>
        {% endif %}
    </div>
</div>
    
    <!-- Topbar End -->

    <main class="contenido-principal">
      <div id="content-wrap">
      {% block content %}
          
      {% endblock %}
    </main>  

    <!-- Footer Start -->
    <footer class="footer bg-warning">
      <div class="container" >
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <h4 style="margin-top: 10px;">Encuentra tu hogar ideal con nosotros</h4>
                  <p>Explora nuestra selección de propiedades en venta o alquiler. Navega fácilmente y encuentra tu próximo hogar con nuestra plataforma intuitiva y detallada.</p>
              </div>
              <div class="col-lg-4 col-md-6">
                <h4 style="margin-top: 10px;">Sobre Nosotros</h4>
                <p>Somos una empresa que nos especializamos en facilitar la búsqueda y gestión de propiedades en venta o alquiler. Conectamos a compradores y arrendatarios con las mejores opciones de vivienda, ofreciendo una experiencia fácil y transparente.</p>
            </div>
              <div class="col-lg-4 col-md-6">
                  <h4  style="margin-top: 10px;">Contacto</h4>
                  <p><i class="fas fa-phone"></i> Teléfono: +123 456 789</p>
                  <p><i class="fas fa-envelope"></i> Correo electrónico: info@tuempresa.com</p>
              </div>
              <div class="col-lg-4 col-md-12">
                  <h4  style="margin-top: 10px;">Síguenos</h4>
                  <p>
                      <a href="#" class="social-icon"><i class="fab fa-facebook-f" style="color: black;"></i></a>
                      <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: black;"></i></a>
                      <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: black;"></i></a>
                      <a href="#" class="social-icon"><i class="fab fa-linkedin" style="color: black;"></i></a>
                  </p>
              </div>
          </div>
          <div class="row mt-3">
              <div class="col-md-12 text-center">
                  <p>&copy; 2024 MacroActiva. Todos los derechos reservados.</p>
              </div>
          </div>
      </div>
  </footer>
  
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'core/'%}lib/easing/easing.min.js"></script>
    <script src="{% static 'core/'%}lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'core/'%}mail/jqBootstrapValidation.min.js"></script>
    <script src="{% static 'core/'%}mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="{% static 'core/'%}js/main.js"></script>

     <!-- JavaScript para la confirmación de cierre de sesión -->
    <script>
        function confirmLogout() {
            Swal.fire({
                title: '¿Cerrar Sesión?',
                text: '¿Estás seguro de que deseas cerrar sesión?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar',
                confirmButtonColor: 'Red'
            }).then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'cerrar_sesion' %}";
                }
            });
        }


        //Ejecutar función en el evento click
    document.getElementById("btn_open").addEventListener("click", open_close_menu);
    
    //Declaramos variables
    var side_menu = document.getElementById("menu_side");
    var btn_open = document.getElementById("btn_open");
    var body = document.getElementById("body");
    
    //Evento para mostrar y ocultar menú
        function open_close_menu(){
            body.classList.toggle("body_move");
            side_menu.classList.toggle("menu__side_move");
        }
    
    //Si el ancho de la página es menor a 760px, ocultará el menú al recargar la página
    
    if (window.innerWidth < 760){
    
        body.classList.add("body_move");
        side_menu.classList.add("menu__side_move");
    }
    
    //Haciendo el menú responsive(adaptable)
    
    window.addEventListener("resize", function(){
    
        if (window.innerWidth > 760){
    
            body.classList.remove("body_move");
            side_menu.classList.remove("menu__side_move");
        }
    
        if (window.innerWidth < 760){
    
            body.classList.add("body_move");
            side_menu.classList.add("menu__side_move");
        }
    
    });
    </script>

</body>

</html>