{% extends "core/base.html" %}
{% load static %}
{% block title %}Detalles de la Publicación{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .carousel-item img {
        max-height: 390px;
        object-fit: cover;
    }
    .border-orange {
        border: 2px solid orange;
    }
</style>

<div class="container mt-4">
    {% for publicacion in publicaciones %}
    <div class="row">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for imagen in publicacion.id_propiedad.imagenes.all %}
                    <li data-target="#header-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for imagen in publicacion.id_propiedad.imagenes.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="d-block w-100" src="{{ imagen.imagen.url }}" alt="Slide {{ forloop.counter }}">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-4 mt-md-0 border-orange">
                <div class="card-body">
                    <h6 class="card-title">Propiedad en {{ publicacion.id_propiedad.tipo_operacion }}</h6>
                    <h5 class="card-title">{{ publicacion.id_propiedad.tipo_propiedad }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">${{ publicacion.precio }}</h6>
                    <p class="card-text">{{ publicacion.id_propiedad.descripcion_propiedad }}</p>
                    <a href="#" class="btn btn-primary">Contactar</a>
                    <a href="#" class="btn btn-success"><i class="bi bi-whatsapp"></i> WhatsApp</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4 border-orange">
        <div class="card-body">
            <h5 class="card-title">Características:</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ publicacion.id_propiedad.nro_habitaciones }} habitaciones</li>
                <li class="list-group-item">{{ publicacion.id_propiedad.nro_bannos }} baños</li>
                <li class="list-group-item">{{ publicacion.id_propiedad.metros_cuadrados }} m² de construcción</li>
            </ul>
        </div>
    </div>

    <div class="card mt-4 border-orange">
        <div class="card-body">
            <h5 class="card-title">Ubicación:</h5>
            <p class="card-text">
                {{ publicacion.id_propiedad.ubicacion.calle }}, {{ publicacion.id_propiedad.ubicacion.num_calle }} - {{ publicacion.id_propiedad.ubicacion.num_propiedad }}<br>
                {{ publicacion.id_propiedad.ubicacion.comuna }}, {{ publicacion.id_propiedad.ubicacion.region }}<br>
                <a href="{{ publicacion.id_propiedad.ubicacion.google_maps_link }}" target="_blank">Ver en Google Maps</a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $('#header-carousel').carousel();
    });
</script>
{% endblock %}
