{% extends "core/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Gestión de propiedades{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
    {% for msg in messages %}
       <script>
           Swal.fire({
               title: 'Exito!',
               text: '{{msg}}',
               icon: 'success',
               confirmButtonText: 'Aceptar',
               confirmButtonColor: 'Green'
           });
       </script>
    {% endfor %}
{% endif %}

<div class="container-fluid mb-3">
    <div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-center">
        <nav aria-label="breadcrumb" style="background-color: transparent;">
            <ol class="breadcrumb mb-2 mb-md-0" style="background-color: transparent;">
                <li class="breadcrumb-item"><a href="#">Menú</a></li>
                <li class="breadcrumb-item active" aria-current="page">Propiedades</li>
            </ol>
        </nav>
    </div>
    <h2 style="text-align:center;">Gestión de Propiedades</h2>
    
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between align-items-center mb-2">
            <div class="flex-grow-1 d-flex justify-content-center">
                <p >
                    Maneja la información de tus propiedades!
                </p>
        </div>
        
    </div>
</div>

<div class="d-flex justify-content-between align-items-center mb-3 container-fluid col-lg-1 text-lg-end" style="margin-right: 10px;">
    <div>
        <button class="btn btn-primary btn-sm me-2 btn-block" data-toggle="modal" data-target="#addModal " >
            Agregar <i class="fas fa-plus"></i>
        </button>
    </div>
</div>

<div class="row px-xl-5">
    <div class="col-lg-12">
        {% if request.GET.q %}
        <!-- Botón Reset -->
        <a class="btn btn-secondary btn-sm me-2" href="{% url 'listar' %}">
            Volver <i class="fas fa-undo"></i>
        </a>
        {% endif %}
    {% if propiedades %} 
    <!-- Tabla para mostrar clientes -->
    <div class="container mt-5">

    
        <div class="table-responsive">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                
                <button class="btn btn-primary btn-sm me-2"id="downloadButton" class="btn btn-success">Descargar<i class="fas fa-download"></i></button>
                <button class="btn btn-primary btn-sm me-2"id="printButton" class="btn btn-info">Imprimir<i class="fas fa-print"></i></button>
            </div>
        </div>

        <div class="flex relative">
            <form method="get" action="{% url 'listar' %}" class="form-inline my-2 my-lg-0 w-100"> <!-- Añadir clase w-100 para tomar todo el ancho -->
                <div class="input-group w-100"> <!-- Envolver el input en un grupo de entrada -->
                    <input class="form-control me-2" name="q" type="search" placeholder="Buscar Propiedades" aria-label="Search"> <!-- Eliminar clase w-100 -->
                    <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button> <!-- Agregar icono de búsqueda -->
                </div>
            </form>                            
        </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Numero rol</th>
                <th scope="col">Tipo</th>
                <th scope="col">Operacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Valor Tasasion</th>
                <th scope="col">Metros Cuadrados</th>
                <th scope="col">Descripción</th>
                <th scope="col">Nro.Habitaciones</th>
                <th scope="col">Baños</th>
                <th scope="col">Dirección</th>
                <th scope="col">Agente</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for propiedad in propiedades %}
            <tr>
                <td>{{ propiedad.numero_rol}}</td>
                <td>{{ propiedad.tipo_propiedad}}</td>
                <td>{{ propiedad.tipo_operacion}}</td>
                <td>{{ propiedad.estado}}</td>
                <td>${{ propiedad.precio_tasacion|intcomma }}</td>
                <td>{{ propiedad.metros_cuadrados|intcomma }}m²</td>
                <td>{{ propiedad.descripcion_propiedad}}</td>
                <td>{{ propiedad.nro_habitaciones}}</td>
                <td>{{ propiedad.nro_bannos}}</td>
                <td>{{ propiedad.direccion_propiedad}}</td>
                <td>{{ propiedad.rut_agente}}</td>
                <td class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary edit-btn mr-2" data-id="{{ propiedad.id}}" data-numero_rol="{{propiedad.numero_rol}}"  data-tipo_propiedad="{{ propiedad.tipo_propiedad }}" data-tipo_operacion="{{ propiedad.tipo_operacion }}" data-estado="{{propiedad.estado}}" data-precio_tasacion="{{ propiedad.precio_tasacion }}" data-descripcion_propiedad="{{ propiedad.descripcion_propiedad}}" data-metros_cuadrados="{{ propiedad.metros_cuadrados }}" data-nro_habitaciones="{{propiedad.nro_habitaciones }}" data-nro_bannos="{{propiedad.nro_bannos }}" data-direccion_propiedad="{{ propiedad.direccion_propiedad }}" data-rut_agente="{{ propiedad.rut_agente}}"  >
                        <i class="fas fa-edit"  ></i>  
                    </button>
                    <button class="btn btn-sm btn-danger delete-btn" data-id="{{ propiedad.id }}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div> 
    {% else %}
    <div class="text-center mt-5">
        <h3>Ninguna propiedad encontrada</h3>
        <i class="fas fa-home fa-5x"></i>
    </div>
    {% endif %}



<!--Paginación-->

{% if propiedades.has_other_pages %}
    <div class="btn-group" role="group" aria-label="Item pagination">
        {% if propiedades.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">&laquo;&laquo;</a>
            <a href="?page={{ propiedades.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
        {% endif %}

        {% for page_number in propiedades.paginator.page_range %}
            {% if propiedades.number == page_number %}
                <button class="btn btn-outline-primary">
                    <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                </button>
            {% else %}
                <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                    {{ page_number }}
                </a>
            {% endif %}
        {% endfor %}

        {% if propiedades.has_next %}
            <a href="?page={{ propiedades.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            <a href="?page={{ propidades.paginator.num_pages }}" class="btn btn-outline-primary">&raquo;&raquo;</a>
        {% endif %}
    </div>
{% else %}
    <p></p>
{% endif %}

        </div>
    </div>
</div>


<!-- Modal para agregar propiedad -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Agregar Propiedad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addPropiedadesForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal para editar propiedad -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Propiedad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editPropiedadesForm">
                    {% csrf_token %}
                    <input type="hidden" id="editId" name="id">
                    
                    <div class="form-group">
                        <label for="editnumero_rol">Número de rol</label>
                        <input type="text" class="form-control" id="editnumero_rol" name="numero_rol" required>
                    </div>

                    <div class="form-group">
                        <label for="editpropiedad">Propiedad</label>
                        <input type="text" class="form-control" id="editpropiedad" name="tipo_propiedad" required>
                    </div>

                    <div class="form-group">
                        <label for="editoperacion">Operación</label>
                        <input type="text" class="form-control" id="editoperacion" name="tipo_operacion" required></input>
                    </div>
                    
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="editestado" name="estado">
                        <label class="form-check-label" for="editestado">Estado</label>
                      </div>

                    <div class="form-group">
                        <label for="editdescripcion">Descripcion</label>
                        <textarea class="form-control" id="editdescripcion" rows="3" name="descripcion_propiedad"></textarea>
                      </div>
                    
                    <div class="form-group">
                        <label for="edittasasion">Tasación</label>
                        <input type="text" class="form-control" id="edittasasion" name="precio_tasacion" required>
                    </div>

                    <div class="form-group">
                        <label for="editmetros">Metro Cuadrados</label>
                        <input type="text" class="form-control" id="editmetros" name="metros_cuadrados" ed>
                    </div>
                    <div class="form-group">
                        <label for="edithabitacion">Habitación</label>
                        <input type="text" class="form-control" id="edithabitacion" name="nro_habitaciones" required>
                    </div>
                    <div class="form-group">
                        <label for="editbanno">Baño</label>
                        <input type="text" class="form-control" id="editbanno" name="nro_bannos" required>
                    </div>
                    <div class="form-group">
                        <label for="editdirreccion">Dirección</label>
                        <input type="text" class="form-control" id="editdirreccion" name="direccion_propiedad" required>
                    </div>
                    <div class="form-group">
                        <label for="editrut_agente">Agente</label>
                        <select class="form-control" id="editrut_agente" name="rut_agente">
                            {% for agente in agentes %}
                                <option value="{{ agente.id }}">{{ agente.nombre }} - {{agente.rut_agente}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>     
    </div>
</div>

<script>
// Código para manejar los formularios y actualizar la tabla

// Manejar el formulario de agregar propiedad
$('#addPropiedadesForm').on('submit', function(e) {
    e.preventDefault();
    
    // Crear una instancia de FormData y agregar los datos del formulario
    var formData = new FormData(this);

    $.ajax({
        url: "{% url 'crear' %}",
        method: 'POST',
        data: formData,
        processData: false,  // Necesario para enviar datos de FormData tal como están
        contentType: false,  // Necesario para enviar archivos y datos de FormData
        success: function(response) {
            Swal.fire({
                icon: 'success',
                title: 'Propiedad agregada',
                text: response.message,
                timer: 2000,
                showConfirmButton: false
            }).then(function() {
                location.reload(); // Recargar la página para ver los cambios
            });
        },
        error: function(response) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Error al agregar la propiedad'
            });
        }
    });
});


$('#editPropiedadesForm').on('submit', function(e) {
    e.preventDefault();
    var id = $('#editId').val();
    
    // Obtener el valor del checkbox y agregarlo al formulario
    var estado = $('#editestado').is(':checked');
    var formData = $(this).serializeArray();
    formData.push({name: 'estado', value: estado});

    // Mostrar alerta de confirmación
    Swal.fire({
        title: '¿Estás seguro?',
        text: "Seguro que desea modificar esta propiedad?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, modificar',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            // Si el usuario confirma, enviar el formulario
            $.ajax({
                url: "actualizar/" + id + "/",
                method: 'POST',
                data: formData,
                success: function(response) {
                    $('#editModal').modal('hide');
                    Swal.fire({
                        icon: 'success',
                        title: 'Propiedad actualizada',
                        text: response.message,
                        timer: 2000,
                        showConfirmButton: false
                    }).then(function() {
                        location.reload(); // Recargar la página para ver los cambios
                    });
                },
                error: function(response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error al actualizar la propiedad'
                    });
                }
            });
        }
    });
});



// Manejar el botón de eliminar propiedades
$(document).on('click', '.delete-btn', function() {
    var id = $(this).data('id');

    // Mostrar alerta de confirmación
    Swal.fire({
        title: '¿Estás seguro?',
        text: "¡No podrás revertir esto!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, eliminarlo!',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            // Si el usuario confirma, enviar solicitud AJAX para eliminar
            $.ajax({
                url: "eliminar/" + id + "/",
                method: 'POST',
                headers: { 'X-CSRFToken': csrftoken },
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Propiedad eliminada',
                        text: response.message,
                        timer: 2000,
                        showConfirmButton: false
                    }).then(function() {
                        location.reload(); // Recargar la página para ver los cambios
                    });
                },
                error: function(response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error al eliminar cliente'
                    });
                }
            });
        }
    });
});



// Mostrar modal de edición con datos del cliente seleccionado
$(document).on('click', '.edit-btn', function() {
    var id = $(this).data('id');
    var numero_rol = $(this).data('numero_rol');
    var tipo_propiedad = $(this).data('tipo_propiedad');
    var tipo_operacion = $(this).data('tipo_operacion');
    var estado = $(this).data('estado');
    var descripcion_propiedad = $(this).data('descripcion_propiedad');
    var metros_cuadrados = $(this).data('metros_cuadrados');
    var nro_habitaciones = $(this).data('nro_habitaciones');
    var nro_bannos = $(this).data('nro_bannos');
    var precio_tasacion = $(this).data('precio_tasacion');
    var direccion_propiedad = $(this).data('direccion_propiedad');
    var rut_agente = $(this).data('rut_agente');


    $('#editId').val(id);
    $('#editnumero_rol').val(numero_rol);
    $('#editpropiedad').val(tipo_propiedad);
    $('#editoperacion').val(tipo_operacion);
    $('#editestado').prop('checked', estado);
    $('#editdescripcion').val(descripcion_propiedad);
    $('#editmetros').val(metros_cuadrados);
    $('#edithabitacion').val(nro_habitaciones);
    $('#editbanno').val(nro_bannos);
    $('#edittasasion').val(precio_tasacion);
    $('#editdirreccion').val(direccion_propiedad);
    $('#editrut_agente').val(rut_agente);
   

    $('#editModal').modal('show');
});

// CSRF token setup for AJAX
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


</script>




{% endblock %}